.container{
    background-color: palegreen;
}

.menu{
    list-style-type:none;
    padding-left:0;
    margin-left:0;
}

.menu li {
    display:inline
}

.menu a {
    display:inline;
    padding: 10px 20px;
    background-color:lavender;
    border-bottom:5px solid #5757a0
}

.header h1 {
    clear:left;
}
.footer p{
    position:fixed;
    bottom:0;
}
